/* General styles */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: justify;
    font-size: 18px;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    position: sticky;
    top: 0;
    z-index: 1;
}

.containerbar {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center; /* Centre les éléments verticalement */
    justify-content: space-between; /* Espace équitablement entre les éléments */
}

.logo-left {
    flex: 0 0 auto; /* Les logos ne vont pas se réduire */
}

.logo-left img {
    width: 50px; /* Taille du logo */
    height: auto;
}

#navbar {
    flex: 1; /* La colonne centrale prend tout l'espace disponible */
    text-align: center; /* Centre les éléments du nav */
}

#navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    display: flex;
    justify-content: center; /* Centre les éléments de la liste */
}

#navbar ul li {
    margin-right: 20px;
}

#navbar ul li:last-child {
    margin-right: 0; /* Aucun margin à droite pour le dernier élément */
}

#navbar ul li a {
    text-decoration: none;
    color: #333;
}

#navbar ul li a.active {
    font-weight: bold;
}

#about .profile img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    object-position: top;
}

h2 {
    font-size: 30px;
    margin-top: 60px;
}

.profile {
    text-align: center;
}

.about-logo img {
    width: 50px;
    height: auto;
    margin-inline: 10px;
    display: block;
}

.about-logo {
    text-align: center;
}

.about-uni {
    text-align: center;
}

.about-uni img {
    width: 300px;
    height: auto;
    margin-inline: 10px;
}

.about-loisirs {
    text-align: center;
    padding: 20px;
}

.about-loisirs img {
    width: 30%;
    height: auto;
    border-radius: 20px;
    margin-inline: 10px;
    box-shadow: 10px 10px 10px #848484, -10px -10px 10px #ffffff;
}

.about-contact img {
    width: 80px;
    height: auto;
    margin-inline: 10px;
    display: block;
}

.about-contact {
    text-align: center;
}

a {
    display: inline-block;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

nav a:hover {
    text-shadow: 0 0 5px rgba(89, 89, 202, 0.5);
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a.active {
    font-weight: bold;
}

main {
    padding: 40px 0;
}

section {
    margin-bottom: 40px;
}

section h2 {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


/* Styles pour les éléments de CV */
.cv-item {
    display: flex; /* Utilisation de flexbox pour la disposition en colonnes */
    align-items: center; /* Alignement vertical en haut */
    margin-bottom: 40px;
}

.cv-image {
    flex: 0 0 175px; /* Largeur fixe de 200px pour la colonne de l'image */
    margin-right: 30px; /* Espace entre l'image et le texte */
}

.cv-image img {
    width: 100%; 
    height: auto;
    object-fit: cover; /* Pour que l'image remplisse la zone sans être déformée */
}

.cv-content {
    flex: 1; /* La colonne de texte prend l'espace restant */
}

.container h3 {
    font-size: 25px;
}

.cv-content h4 {
    font-size: 20px;
}

/* Media query pour les petits écrans */
@media (max-width: 768px) {
    .cv-item {
        flex-direction: column; /* Disposition en colonne sur les petits écrans */
    }

    .cv-image {
        flex: 0 0 100%; /* L'image prend toute la largeur sur les petits écrans */
        margin-right: 0;
        margin-bottom: 10px; 
    }
}

.skills-list {
    list-style-type: none;
    padding: 0;
}

.skills-list li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.skills-list li span {
    font-weight: bold;
}

.skills-list .advanced {
    background-color: #d6f3e7;
    border-left: 5px solid #00796b;
}

.skills-list .intermediate {
    background-color: #fff3e0;
    border-left: 5px solid #fb8c00;
}

.skills-list .beginner {
    background-color: #f3e5f5;
    border-left: 5px solid #8e24aa;
}

.languages-list {
    list-style-type: none;
    padding: 0;
}

.languages-list li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #e3f2fd;
    border-left: 5px solid #1e88e5;
}

.languages-list li span {
    font-weight: bold;
}

.project {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
}

.project h3 {
    margin-top: 0;
}

.project h3 a {
    text-decoration: none;
    color: inherit;
}

.project p {
    font-size: 1rem;
    line-height: 1.6;
}

.project-summary {
    list-style-type: none;
    padding: 0;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-summary-item {
    margin: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
}

.project-summary-item a {
    text-decoration: none;
    font-weight: 600;
}

.project1-summary {
    background-color: #e0f7fa;
    border: 1px solid #00acc1;
}

.project1-summary a {
    color: #000000;
}

.project1 {
    background-color: #e0f7fa;
    border-left: 5px solid #00acc1;
}

.project2-summary {
    background-color: #fff3e0;
    border: 1px solid #fb8c00;
}

.project2-summary a {
    color: #000000;
}
.project2 {
    background-color: #fff3e0;
    border-left: 5px solid #fb8c00;
}

.project3-summary {
    background-color: #f3e5f5;
    border: 1px solid #8e24aa;
}

.project3-summary a {
    color: #000000;
}

.project3 {
    background-color: #f3e5f5;
    border-left: 5px solid #8e24aa;
}

.project4-summary {
    background-color: #e8f5e9;
    border: 1px solid #43a047;
}

.project4-summary a {
    color: #000000;
}

.project4 {
    background-color: #e8f5e9;
    border-left: 5px solid #43a047;
}

.project5-summary {
    background-color: #e3f2fd;
    border: 1px solid #1e88e5;
}

.project5-summary a {
    color: #000000;
}

.project5 {
    background-color: #e3f2fd;
    border-left: 5px solid #1e88e5;
}

.button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.button:hover {
    background-color: #45a049;
}

#language-switcher {
    position: relative;
    margin-right: 40px;
}

.current-language {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.arrow-down {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin-left: 5px;
}

.language-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0px; /* Ajustez si nécessaire */
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}

.language-option {
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
}

.current-language img,
.language-option img {
    width: 20px; /* Ajustez la largeur souhaitée */
    height: 20px; /* Ajustez la hauteur souhaitée */
    margin-right: 10px;
}

.tikz {
    text-align: center;
}

.tikz img {
    width: 70%;
    height: auto;
}

.project4-img {
    text-align: center;
    padding: 20px;
}

.project4-img img {
    width: 40%;
    height: auto;
}

.button-div {
    text-align: center;
    margin-bottom: 50px;
}

.button-div a {
    margin-inline: 10px;
    margin-bottom: 15px;
}

.button2 {
    background: linear-gradient(0deg,#A47CF3,#683FEA);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.button2:hover {
    background: linear-gradient(0deg,#A47CF3,#683FEA);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 20px 0px #9917FF;
    transform: translateY(-2px);
}